body {
  padding: 15px;
  margin: 0;
  color: #fff;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
}

.card-text {
  text-align: center;
  padding: 100px 0;
}

.card-text h1 {
  font-size: 40px;
}

.card-text p {
  font-size: 16px;
  padding: 0 10px;
}

.card-text button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: red;
  border-radius: 15px;
  color: #fff;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn-div i {
  padding-left: 6px;
}

.card-image {
  text-align: center;
  width: 100%;
  margin-top: -100px;
}

.container-tow {
  margin-top: 50px;
}

.menu-box {
  display: flex;
  justify-content: center;
  
}
.menu-box a li {
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid grey;
}
.menu-box a {
  text-decoration: none;
  display: block;
  width: 200px;
  text-align: center;
  margin: 10px 0;
  color: black;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
}
.menu-box a :hover {
  background-color: red;
}

.card-box {
  margin-top: 20px;
  margin-left: 40px;
}

.card-one {
  margin: 20px 0;
}

.blog-image img {
  width: 100%;
}

.blog-text {
  padding-top: 20px;
  padding-left: 20px;
  color: black;
  border: 1px solid gray;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 20px;
}

.blog-text button {
  padding: 10px 20px;
  border-radius: 10px;
}

.comment-box {
  display: flex;
}

.comment-box div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: gray;
}

.phalk-img-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.phalk-img-blog span {
  padding: 3%;
}
.phalk-one {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 30px 40px;
  margin-left: 40px;
}
.phalk-text {
  text-align: center;
  border: none;
}

.button-div {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.button-div button {
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  padding: 100px 0;
  width: 100%;
  margin-top: 30px;

  background-color: black;
}
.footer-head {
  text-align: center;
  border-bottom: 2px solid gray;
  width: 80%;
  margin: 0 auto;
}
.footer .row ul {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.footer .row ul li {
  list-style: none;
  margin-right: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.footer a {
  color: #fff;
}

@media only screen and (min-width: 767px) {
  .conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 10px;
  }
  .card-text {
    padding: 50px 80px;
  }
  .card-image {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  .menu-box a {
    display: inline-block;
    padding: 10px 30px;
  }
  .card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-one {
    width: 37%;
    margin: 0;
  }
  .button-div {
    display: block;
  }
}

@media only screen and (min-width: 991px) {
  .container-tow {
    display: flex;
  }
  .menu-box {
    position: relative;
    width: 50%;
    margin-right: 40px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    padding: 50px 0;
    left: 0;
    border-radius: 15px;
  }
  .menu-item a {
    color: #fff;
  }

  .card-one {
    width: 30%;
    margin: 0;
  }
  .phalk-one {
    width: 20%;
    margin: 0;
  }
  .conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 10px;
  }
  .card-text {
    padding: 50px 300px;
  }
  .card-image {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .button-div {
    display: none;
  }
  .footer .row ul {
    display: flex;
    flex-direction: row;
  }  
}